// Laptop

@media (min-width: 950px) {
  @keyframes slideshow {
    from {
      left: 170vw;
    }
    to {
      left: -70vw;
    }
  }

  .navbar {
    width: 100%;
    padding: 0 80px;

    nav .main-nav {
      margin-left: 0;
      margin-right: auto;
    }
  }

  .hero {
    padding: 0 80px;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 200px;

    .container-1,
    .container-2 {
      background-image: none;
      width: 50%;
    }

    .container-1 {
      padding: 0;
    }

    .container-2 {
      text-align: left;
      button {
        grid-column-start: 1;
        margin-left: 0;
        margin-right: auto;
      }
    }
  }

  .features {
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    padding: 100px;

    .container-1,
    .container-2 {
      width: 40%;
    }

    .container-1 {
      display: flex;
      flex-direction: column;
      margin: 0;
      justify-content: flex-start;

      h2,
      p {
        padding-left: 0;
        text-align: left;
      }
    }
  }

  .testimonial {
    padding-bottom: 100px;
    .slider {
      width: 240%;
      transition: 1s;
      .person {
        position: absolute;
        width: 60vw;
        animation-name: slideshow;
        animation-duration: 30s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;

        p {
          margin: 0 auto;
          width: 80%;
        }
      }

      .person-1 {
        top: 0;
        left: 0;
        animation-delay: -22.5s;
      }

      .person-2 {
        top: 0;
        left: 60vw;
        animation-delay: -15s;
      }
      .person-3 {
        top: 0;
        left: 120vw;
        animation-delay: -7.5s;
      }
      .person-4 {
        top: 0;
        left: 180vw;
      }
    }

    .pagination {
      visibility: hidden;
    }
  }

  .testimonial[class~="page-1"] {
    .slider {
      left: 0;
    }
  }

  .testimonial[class~="page-2"] {
    .slider {
      left: 0;
    }
  }

  .testimonial[class~="page-3"] {
    .slider {
      left: 0;
    }
  }

  .testimonial[class~="page-4"] {
    .slider {
      left: 0;
    }
  }

  .cta {
    padding: 50px 100px;
    h2 {
      padding-bottom: 30px;
    }
  }

  footer .footer {
    .footer-link {
      width: 40%;
      justify-content: space-around;
    }
  }
}
