// Notebook

@media (min-width: 1150px) {
  @keyframes slideshow {
    from {
      left: 130vw;
    }
    to {
      left: -30vw;
    }
  }

  button {
    padding: 12px 30px;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    padding-top: 30px;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      img {
        transform: scale(1);
      }
      .hamburger {
        display: none;
      }
    }

    nav {
      width: 60%;
      position: unset;
      visibility: visible;
      transform: translateX(0);

      .main-nav {
        background-color: transparent;
        margin: 0 auto;

        .nav-list {
          display: flex;
          justify-content: center;

          li {
            font-weight: $regular;
            font-size: 13px;
            padding: 10px 15px;
          }
        }
      }
    }

    button {
      display: unset;
    }
  }

  main {
    display: unset;
  }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    padding-top: 95px;
    background-image: url("../../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: 770px -130px;
    background-size: 55%;

    .container-1 {
      background: none;
      width: 40%;
      img {
        padding-right: 0;
      }
    }

    .container-2 {
      display: unset;
      background-image: none;
      width: 60%;
      text-align: left;

      h1 {
        font-size: 3rem;
        line-height: 1.05;
        padding: 0;
        padding-top: 175px;
        width: 90%;
      }

      p {
        width: 65%;
        padding: 25px 0;
      }

      button {
        margin-top: 15px;
      }
    }
  }

  .features {
    display: flex;
    justify-content: space-between;
    padding: 85px 100px;

    .container-1 {
      display: unset;
      text-align: left;
      width: 45%;

      h2 {
        padding: 0;
        font-size: 2.2rem;
        line-height: 1.15;
      }

      p {
        font-size: 16px;
        line-height: 1.5;
        width: 65%;
        margin-top: 20px;
      }
    }

    .container-2 {
      width: 50%;
      padding-left: 20px;

      li {
        display: flex;
        .number {
          position: unset;
          align-self: flex-start;
        }

        .use {
          margin-left: 30px;
          h3 {
            background-color: unset;
            padding: 5px 0;
            margin: 0;
          }

          p {
            font-size: 16px;
            line-height: 1.65;
          }
        }
      }
    }
  }

  .testimonial {
    text-align: center;
    padding-bottom: 150px;

    h2 {
      padding: 20px 0;
      font-size: 2.35rem;
    }

    .slider {
      width: 160%;
      margin-top: 20px;

      .person {
        width: 40vw;
        animation-duration: 40s;
        img {
          width: 73px;
        }

        p {
          width: 90%;
          font-size: 16px;
          margin: 0 auto;
          padding: 20px 30px;
        }
      }

      .person-1 {
        top: 0;
        left: 0;
        animation-delay: -35s;
      }

      .person-2 {
        top: 0;
        left: 40vw;
        animation-delay: -25s;
      }
      .person-3 {
        top: 0;
        left: 80vw;
        animation-delay: -15s;
      }
      .person-4 {
        top: 0;
        left: 120vw;
        animation-delay: -5s;
      }
    }

    .pagination {
      margin-top: 300px;
      visibility: hidden;
    }
  }

  .cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 160px;

    h2 {
      width: 60%;
      margin: 0;
      text-align: left;
    }
  }

  footer {
    position: relative;
    padding: 60px 100px;

    .footer {
      flex-direction: row-reverse;
      align-items: stretch;
      justify-content: space-between;

      form {
        display: flex;
        align-items: center;
        align-self: flex-start;

        input {
          margin: 0;
          margin-right: 10px;
        }
      }

      .footer-link {
        justify-content: space-around;

        .last {
          padding-bottom: 0;
        }
      }

      .bottom-logo {
        flex-direction: column-reverse;
        justify-content: space-between;

        .social-link ul {
          li {
            transform: scale(1);
            padding: 0 5px;
            margin: 0;
          }
        }

        .logo {
          margin: 0 auto;
          margin-left: 0;
          transform: scale(1);
        }
      }
    }
    p {
      position: absolute;
      padding-bottom: 0;
      right: 100px;
      bottom: 60px;
    }
  }
}
